#promo {
    height: 700px;
    background: no-repeat center/cover url("../image/dsa.jpg");
}
.promo_header {
    height: 150px;
    line-height: 150px;
}
.promo_logo {
    float: left;
    font-family: MontserratBold;
    font-size: 20px;
}
.promo_buttons {
    float: right;
    font-family: MontserratBold;
    font-size: 14px;
}
.promo_logo > li,
.promo_buttons > li {
    list-style-type: none;
    display: inline-block;
}
.promo_logo a,
.promo_buttons a {
    text-decoration: none;
    color: #fff;
    font-family: MontserratBold;
}
.promo_buttons a {
    padding: 10px 18px;
  /*  border: 2px solid white;*/
    border-radius: 20px;
}
.promo_buttons .promo_button_sigin>a {
    border-radius: 20px;
    border: 2px solid white;
}
.promo-button-login {
    margin-right: 20px;
}

.title-header h3,
.title-header p
{
    text-align:center;
}


.title-header > h3 {
/*    text-align: center;*/
    font-size: 52px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: bold;
    color: #fff;
    word-spacing: 17px;
    letter-spacing: 5px;
}
.title-header > .title-paragraph {
/*    text-align: center;*/
    font-size: 24px;
    font-family: Roboto;
    font-weight: lighter;
    color: #fff;
    margin-top: -12px;
    letter-spacing: 2px;  
}
.button-header {
    position: relative;
    left: 42%;
    top: 2.5%;
    border: 2px solid #ff4e50;
    width: 225px;
    height: 40px;
    border-radius: 40px;
    background-color: #ff4e50;
}
.header-link {
    font-size: 14px;
    font-family: Montserrat;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.button-description {
    text-align: center;
    margin-top: 10px;
}
.s-promo {
    text-align: center;
    margin-top: 100px;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: bold;
    margin-bottom: 20px;
}
/*
=============================================
=============================================
              How it works
=============================================
=============================================
*/
#works {
    height: 660px;

}
#works > .step1, .step2, .step3 {
    margin-top: 40px;
}
.step1 {
    background-image: url(../image/step14.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 400px;
    margin-left: -20px;
}
.step1 > img {
    visibility: hidden;
}
.step2 {
    background-image: url(../image/step24.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 400px;
    margin-left: 20px;
    margin-top: 0px;
}
.step2 > img {
    visibility: hidden;
}
.step3 {
    background-image: url(../image/step34.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 400px;
    margin-left: 20px;
    margin-top: 0px;
}
.step3 > img{
    visibility: hidden;

}
.meet-partner {
    text-align: center;
    margin-top: 100px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
}
.vlog1 {
    position: absolute;
}
.vlog2 {
    position: absolute;
}
.vlog3 {
    position: absolute;
}
.arrov1 {
     margin-top: 150px;
    margin-left: 10px;

    }
.arrov2 {
    margin-left: 220px;
}
.arrov3 {
    margin-left: 10px;
     margin-top: 150px;

    }
.arrov4 {
    margin-left: 210px;
}
.arrov5 {
    margin-left: 10px;
     margin-top: 160px;

    }
.arrov6 {
    margin-left: 210px;
}
.vlog1 > .button {
    border: 2px solid #ff4e50;
    width: 70px;
    height: 20px;
    line-height: 15px;
    border-radius: 30px;
    background-color: #ff4e50;
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
    font-family: Montsserat;
    font-size: 10px;
    font-weight: lighter;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 20px;
}
.vlog2 > .button2 {
    border: 2px solid #ff4e50;
    width: 70px;
    height: 20px;
    line-height: 15px;
    border-radius: 30px;
    background-color: #ff4e50;
    margin-top: 65px;
    text-align: center;
    vertical-align: middle;
    font-family: Montsserat;
    font-size: 10px;
    font-weight: lighter;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 20px;
}
.vlog3 > .button3 {
    border: 2px solid #ff4e50;
    width: 70px;
    height: 20px;
    line-height: 15px;
    border-radius: 30px;
    background-color: #ff4e50;
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
    font-family: Montsserat;
    font-size: 10px;
    font-weight: lighter;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 20px;
}
.titl > h6 {
    font-size: 24px;
    font-family: Montserrat;
    font-weight: bold;
    color: #fff;
    width: 180px;
    margin-top: 20px;
    margin-left: 20px;
}
.parag > p {
    font-size: 14px;
    font-family: Roboto;
    font-weight: lighter;
    color: #fff;
    width: 260px;
    margin-top: -50px;
    margin-left: 20px;
}
.titl2 > h6 {
    margin-left: 20px;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
}
.parag2 > p {
    margin-left: 20px;
    font-size: 14px;
    font-family: Roboto;
    font-weight: lighter;
    color: #fff;
    width: 260px;
    margin-top: -50px;
}
.titl3 > h6 {
    font-size: 24px;
    font-family: Montserrat;
    font-weight: bold;
    color: #fff;
    width: 180px;
    margin-top: 10px;
    margin-left: 20px;
}
.parag3 > p {
    font-size: 14px;
    font-family: Roboto;
    font-weight: lighter;
    color: #fff;
    width: 260px;
    margin-top: -50px;
    margin-left: 20px;
}
===============================================================================
/*                  partners*/
===============================================================================
===============================================================================
.partners {
    display: inline-bloc;
}
.container > .row > .partners {
    margin-left: 50px;
}
.partners > div {
    height: 250px;
}
/*
.partner > .imags {
    margin-top: -130px;
    background-image: url(../imgs/partner.jpg);
    background-position: top;
    background-repeat: no-repeat;
    height: 120px;
    width: 120px;
    border-radius: 70px;

}
*/
.small-img {
    position: relative;
    left: -42px
}
.partner-name {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
}
.partner-hobby {
    font-family: Roboto;
    font-size: 14px;
    text-align: left;
    font-weight: lighter;
}
.redactor > h3 {
    margin-left: 10px
}
.redactor > p{
    width: 200px;
    margin-left: -40px;
    text-align: center;
    padding: 0 5px;
}
.partners-button {
    border: 3px solid #ff4e50;
    border-radius: 50px;
    height: 48px;
    width: 200px;
    margin-top: 40px;
    margin-left: 373px;
}
.partners-button > p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    color: #ff4e50;
    margin-left: 30px;
}
.discover-promo {
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    margin-top: 100px;

}
===============================================
===============================================
/*Discover holiday activity ideas*/
===============================================
===============================================
.discover-main {
    display: inline-block;
}
.activity, .activity2, .activity3, .activity4, .activity5, .activity6, .activity7 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.activity {
    width: 300px;
    height: 300px;
    background-image: url(../imgs/idea1.jpg);
    margin-left: -20px;
}
.activity2 {
    width: 300px;
    height: 300px;
    background-image: url(../imgs/idea2.jpg);
    margin-left: 20px;
}
.activity3 {
    width: 300px;
    height: 300px;
    background-image: url(../imgs/idea3.jpg);
    margin-left: 20px;
    background-position: right;
}
.activity4 {
    width: 300px;
    height: 310px;
    background-image: url(../imgs/idea4.jpg);
    margin-left: -20px;
    margin-top: 25px;
}
.activity5 {
    width: 620px;
    height: 310px;
    background-image: url(../imgs/idea5.jpg);
    margin-left: 20px;
    margin-top: 25px;
}
.activity6 {
    width: 620px;
    height: 310px;
    background-image: url(../imgs/idea6.jpg);
    margin-left: -20px;
    margin-top: 25px;
}
.activity7 {
    width: 300px;
    height: 310px;
    background-image: url(../imgs/idea7.jpg);
    margin-left: 20px;
    margin-top: 25px;
    background-position: right;
}
.ideas > h3 {
    position: absolute;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
}
.activity > h3 {
    line-height: 310px;
    height: 310px;
    margin-left: 45px;
    margin-top: 30px;
}
.activity2 >div > h3 {
    position: absolute;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-left: 50px;
    margin-top: 135px;

}
.activity3 > div > h3 {
    width: 220px;
    position: absolute;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    text-align: center;
    height: 110px;
    margin-left: 35px;
    margin-top: 135px;
}
.activity3 > h3 {
    line-height: 310px;
    height: 310px;
    width: 300px;
/*    margin-left: 30px;*/
}
.activity4 > h3 {
    line-height: 310px;
    height: 310px;
    margin-left: 90px;
}
.activity5 > h3 {
    line-height: 310px;
    height: 310px;
    margin-left: 190px;
    margin-top: 0px;
}
.activity6 > h3 {
    line-height: 310px;
    height: 310px;
    margin-left: 260px;
    margin-top: 0px;
}
.activity7 > h3 {
    line-height: 310px;
    height: 310px;
    margin-left: 100px;
    margin-top: 0px;
}
.discover-down {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}
div > .discover-paragraph {
    font-family: Roboto;
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
    margin-top: 40px;

}
.interest > .pole {
    border: 2px s\olid #cccccc;
    height: 40px;
    width: 240px;
    margin-left: calc(44% - 120px);
    margin-top: 40px;
}
.interest > .pole > placeholder {

}
.interest > .bottom  {
    width: 160px;
    height: 40px;
    border: 2px solid #ff4e50;
    border-radius: 70px;
    background-color: #ff4e50;
    margin-left: 10px;
    margin-top: 45px;
    font-family: Montsserat;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    outline: none;

}

.line {
    height: 10px;
    background-color: #ff4e50;
    margin-top: 100px;
}
.promo-footer > a  {
    float: left;
    margin-top: 40px;
    margin-left: 190px;
    text-decoration: none;
    font-family: Montsserat;
    font-size: 16px;
    font-weight: bold;
    color: #ff4e50;
}
.com {
    margin-left: 425px;
    margin-top: 23px;

}
ul > li {
    list-style-type: none;
}
ul .company {
    font-family: Montsaerat;
    font-size: 14px;
    font-weight: bold;
}

ul .company2 {
    margin-top: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: lighter;
}
ul .company3, .company4, .company5 {
    margin-top: 13px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: lighter;
}
.partn {
    float: left;
    margin-left: 578px;
    margin-top: -150px;
    font-family: Montsaerat;
    font-size: 14px;
    font-weight: bold;
}

.img-footer {
    float: left;
/*    margin-right: 250px;*/
    margin-left: calc(100% - 350px);
    margin-top: -113px;
}
.logo-footer > p {
    float: left;
    font-family: Montsserat;
    font-weight: bold;
    font-size: 10px;
    color: #cccccc;
    margin-top: -130px;
/*    margin-right: 250px;*/
    margin-left: calc(100% - 325px);
    word-spacing: 3px;
    letter-spacing: 1px;
}
footer {
    height: 197px;
}
.footr:before
.footr:after {
    content: "";
    display: block;
    clear: both;
}
