@media (min-width: 320px) and (max-width: 768px) {
    #promo {
        height: 740px;
    }
    .promo_buttons,
    .promo_logo {
        display: block;
        text-align: center;
        float: none!important;
        font-weight: bold;
        margin-top: 0px;
    }
.title-header > h3 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: bold;
    color: #fff;
    word-spacing: 0px;
    letter-spacing: 0px;
    margin-top: 160px;
    line-height: 50px;
    letter-spacing: 3px;
}
.title-header > .title-paragraph {
    position: relative;
    left: calc(50% - 140px);
    font-size: 18px;
    letter-spacing: 0px;
    width: 220px;
}
.button-header {
    position: relative;
    left: calc(50% - 140px);
    top: 1%;
    border: 2px solid #ff4e50;
    width: 280px;
    height: 40px;
    border-radius: 40px;
    background-color: #ff4e50;
}
.header-link {
    font-size: 14px;
    font-family: Montserrat;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.button-description {
    text-align: center;
    margin-top: 10px;
}
    .row {
        margin-left: 0px;
/*        display: block;*/
    }
    #works > .step1 {
/*        float: left;*/
        margin-top: -20px;
        width: 300px;
        height: 240px;
        margin-left: calc(50% - 150px);
        background-clip: content-box;
        margin-right: 100px;
    }
    #works > .step2 {
/*        float: left;*/
        margin-top: 10px;
        width: 300px;
        height: 240px;
        margin-right: 100px;
        margin-left: calc(50% - 140px);
    }
    #works > .step3 {
/*        float: left;*/
        margin-top: 10px;
        width: 300px;
        height: 240px;
        margin-left: calc(50% - 145px);
    }
    .step2 {
    background-image: url("../image/step222.png");
        background-clip:
}
    .step1 {
    background-image: no-repeat center/auto url("../image/step111.png");
}
    .step3 {
    background: no-repeat center/auto url("../image/step3mobile.png");
/*    padding: 10px;*/
}
    .works-promo {
        margin-top: 40px;
    }
    .arrow, .arrow1 {
        display: none;
    }
    .works-button > img, .works-button1 > img, .works-button2 > img {
    margin-top: 48px;
    margin-left: 28px;
    }
    .works-button > p, .works-button1 > p, .works-button2 > p {
    position: relative;
    top: 75px;
    left: 38px;
    font-size: 10px;
    font-family: Montserrat;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
        word-spacing: 2px;
}
.works-text, .works-text1, .works-text2 {
    font-size: 24px;
    font-family: Montserrat;
    font-weight: bold;
    color: #fff;
    margin-top: 11px;
    margin-bottom: 35px;
    margin-left: 28px;
}
.works-paragraph, .works-paragraph1, .works-paragraph-step3 {
    font-size: 14px;
    font-family: Roboto;
    font-weight: lighter;
    color: #fff;
    margin-left: 28px;
    margin-top: -33px;
    width: 260px;
    }
.works-button2 > img {
        margin-left: 20px;
        margin-top: 20px;
    }
.works-button2 > p {
        left: 30px;
        top: 47px;
    }
.works-text2 {
        margin-left: 20px;
        margin-top: 18px;
    }
.works-paragraph-step3 {
        margin-left: 20px;
        margin-top: -24px;

        width: 260px;
    }
.partner, .partner2, .partner3, .partner4 {
        width: 100%;
        margin-left: calc(55% - 100px);
        margin-top: 30px;
    }
    .partner {
        margin-top: -10px;
    }
.meet-partner {
        width: 360px;
        margin-left: calc(51% - 180px);
    margin-top: 45px;
    }
    .partner2 {
        margin-top: 20px;
    }
     .partner3 {
         margin-top: 30px;
    }
    .partner4 {
        margin-top: 50px;
    }
    .partners-button {
        width: 280px;
        height: 40px;
        margin-left: calc(50% - 140px);
    }
    .partners-button > p {
        margin-left: 70px;
        margin-top:8px;
    }
}
/*
.discover-down {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}
*/
/*
div > .discover-paragraph {
    font-family: Roboto;
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
    margin-top: 40px;

}
.interest > .pole {
    border: 2px s\olid #cccccc;
    height: 40px;
    width: 240px;
    margin-left: calc(44% - 120px);
    margin-top: 40px;
}
.interest > .pole > placeholder {

}
*/
.interest > .bottom  {
    width: 160px;
    height: 40px;
    border: 2px solid #ff4e50;
    border-radius: 70px;
    background-color: #ff4e50;
    margin-left: 10px;
    margin-top: 45px;
    font-family: Montsserat;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.line {
/*    border: 1px solid black;*/
    height: 10px;
/*    width: auto;*/
    background-color: #ff4e50;
    margin-top: 100px;
}
/*
.promo-footer > a  {
    float: left;
    margin-top: 40px;
    margin-left: 190px;
    text-decoration: none;
    font-family: Montsserat;
    font-size: 16px;
    font-weight: bold;
    color: #ff4e50;
}
ul {
    margin-left: 425px;
    margin-top: 23px;

}
ul > li {
    list-style-type: none;
}
*/
/*
ul .company {
    font-family: Montsaerat;
    font-size: 14px;
    font-weight: bold;
}
ul .company2 {
    margin-top: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: lighter;
}
ul .company3, .company4, .company5 {
    margin-top: 13px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: lighter;
}
.partn {
    float: left;
    margin-left: 578px;
    margin-top: -150px;
    font-family: Montsaerat;
    font-size: 14px;
    font-weight: bold;
}
*/

/*
.img-footer {
    float: right;
    margin-right: 250px;
    margin-top: -113px;
}
.logo-footer > p {
    float: right;
    font-family: Montsserat;
    font-weight: bold;
    font-size: 10px;
    color: #cccccc;
    margin-top: -130px;
    margin-right: 250px;
    word-spacing: 3px;
    letter-spacing: 1px;
}
footer {
    height: 197px;
}*/
